*{
    box-sizing: border-box;
}
@font-face {
    font-family: "paraFont";
    src: url("./futura/Futura\ Medium\ Italic\ font.ttf");
    font-weight: normal;
    font-style: normal; 
    margin: 0px;
}

@font-face {
    font-family: "mainFont";
    src: url("./futura/Futura Bold Italic font.ttf");
    font-weight: normal;
    font-style: normal;
    margin: 0px;
}

@font-face {
    font-family: "titleFont";
    src: url("./futura/Futura\ Heavy\ font.ttf");
    font-weight: normal;
    font-style: normal;
    margin: 0px;
}

html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(235, 231, 231);
}

body {
    margin: 0px;
    width: 100%;
    max-width: 750px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
}

:root {
    --mainColor:rgb(82, 82, 82);
}

:root {
    --mainColor:#1D4D41;
}


/* STYLE */
h4, h3, a, address {
    font-size: 0.75rem;
    margin: 0px;
    font-family: "paraFont", Arial, Helvetica, sans-serif;
    color:white;
    font-weight: 500;
    text-align: left;
}

h4 {
    color: rgb(121, 109, 109);
    text-align: center;
}

.profilTitle {
    color: white;
    background-color: rgb(128, 124, 124);
    width: 100%;
    height: 25px;
    line-height: 26px;
    vertical-align: middle;
    text-align: center;
    font-size: 0.9rem;
    margin: 0px;
    font-family: "titleFont", Arial, Helvetica, sans-serif;
}

ul, li {
    list-style: dot;
    color: white;
}

